:root {
  --yellow: #f1be32;
  --golden-yellow: #feac32;
  --dark-purple: #110815;
  --light-grey: #efefef;
  --dark-grey: #333;
  --light-purple: #3f3d56;
  --light-blue: #3f51b5;
  --white: #fff;
  --medium-grey: #2c2c2e;
}

body {
  background-color: var(--medium-grey);
  color: var(--white);
  text-align: center;
}
  
  #text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
  }
  
  #game {
    max-width: 500px;
    max-height: 400px;
    background-color: #ffffff;
    color: #ffffff;
    margin: 30px auto 0px;
    padding: 10px;
  }
  
  #controls,
  #stats {
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #0a0a23;
  }
  
  #monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
  }
  
  .stat {
    padding-right: 10px;
  }
  
  button {
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
  }

  nav a {
    color: #a66cff; /* Sets the text color of links */
    
  }
  
  nav a:hover {
    color: #f4a261; /* Change the color when hovering over the link */
  }
  
  /* Active effect when link is clicked */
  nav a:active {
    color: red; /* Change the color when the link is clicked */
  }
  
  p a {
    color: #a66cff; /* Set the color of the link inside the paragraph */
    text-decoration: none; /* Optional: Remove underline from the link */
  }

  p a:hover {
    color: #f4a261; /* Change the color when hovering over the link */
  }
  
  /* Active effect when link is clicked */
  p a:active {
    color: red; /* Change the color when the link is clicked */
  }
  h1 {
    font-size: 2em;
  }

  nav ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex;      /* Flexbox layout */
    justify-content: center;  
    gap: 20px;          
  }
  
  nav li {
    margin: 0;   
    padding: 0;  
  }
  
  footer {
    padding-top: 20px;
  }
  nav {
    margin-top: 30px;  
}