* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #f1be32;
  --golden-yellow: #feac32;
  --dark-purple: #110815;
  --light-grey: #efefef;
  --dark-grey: #333;
  --light-purple: #3f3d56;
  --light-blue: #3f51b5;
  --white: #fff;
  --medium-grey: #2c2c2e;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: var(--medium-grey);
  color: var(--white);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  line-height: 1.5;
  text-align: center;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

nav {
  margin-top: 30px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

nav li {
  margin: 0;
  padding: 0;
}

nav a {
  color: #ccadf9;
}

nav a:hover {
  color: #f4a261;
}

nav a:active {
  color: red;
}

p a {
  color: #ccadf9;
  text-decoration: none;
}

p a:hover {
  color: #f4a261;
}

p a:active {
  color: red;
}

h1 {
  font-size: 2em;
}

footer {
  margin-top: auto;
  padding: 10px 0 50px;
  color: #ffffff;
}

#text {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
}

#game {
  max-width: 600px;
  max-height: 400px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 10px;
  margin: auto; 
}

#controls,
#stats {
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #0a0a23;
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}


.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
