:root {
    --light-grey: #efefef;
    --dark-grey: #333;
    --light-purple: #3f3d56;
    --light-blue: #3f51b5;
    --white: #fff;
    --medium-grey: #2c2c2e;
  }
  
  body {
    background-color: var(--medium-grey);
    color: var(--white);
    text-align: center;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
  }
  
  nav a {
    color: #ccadf9; /* Sets the text color of links */
    
  }
  
  nav a:hover {
    color: #f4a261; /* Change the color when hovering over the link */
  }
  
  /* Active effect when link is clicked */
  nav a:active {
    color: red
  }
  
  p a {
    color: #ccadf9; /* Set the color of the link inside the paragraph */
    text-decoration: none; /* Optional: Remove underline from the link */
  }

  p a:hover {
    color: #f4a261; /* Change the color when hovering over the link */
  }
  
  /* Active effect when link is clicked */
  p a:active {
    color: red
  }
  h1 {
    font-size: 2em;
  }

  nav ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex;      /* Flexbox layout */
    justify-content: center;  
    gap: 20px;          
  }
  
  nav li {
    margin: 0;   
    padding: 0;  
  }
  
  footer {
    padding-top: 20px;
    color: #ffffff
  }
  nav {
    margin-top: 30px;  
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }