:root {
  --yellow: #f1be32;
  --golden-yellow: #feac32;
  --dark-purple: #110815;
  --light-grey: #efefef;
  --dark-grey: #2c2c2e;
  --light-purple: #3f3d56;
  --light-blue: #3f51b5;
  --white: #fff;
  --medium-grey: #75767b;
}

body {
  background-color: var(--dark-grey);
  color: var(--white);
  text-align: center;
}

nav a {
  color: #a66cff; /* Sets the text color of links */
  
}

nav a:hover {
  color: #f4a261; /* Change the color when hovering over the link */
}

/* Active effect when link is clicked */
nav a:active {
  color: red; /* Change the color when the link is clicked */
}

p a {
  color: #a66cff; /* Set the color of the link inside the paragraph */
  text-decoration: none; /* Optional: Remove underline from the link */
}

p a:hover {
  color: #f4a261; /* Change the color when hovering over the link */
}

/* Active effect when link is clicked */
p a:active {
  color: red; /* Change the color when the link is clicked */
}
h1 {
  font-size: 2em;
}
nav ul {
  list-style: none; 
  padding: 0;
  margin: 0;
  display: flex;      /* Flexbox layout */
  justify-content: center;  
  gap: 20px;          
}

nav li {
  margin: 0;   
  padding: 0;  
}

footer {
  padding-top: 20px;
}
nav {
  margin-top: 30px;  
}