:root {
    --yellow: #f1be32;
    --golden-yellow: #feac32;
    --dark-purple: #110815;
    --light-grey: #efefef;
    --dark-grey: #333;
    --light-purple: #3f3d56;
    --light-blue: #3f51b5;
    --white: #fff;
    --medium-grey: #2c2c2e;
  }
  
  body {
    background-color: var(--medium-grey);
    color: var(--white);
    text-align: center;
  }
  
  nav a {
    color: blue; /* Sets the text color of links */
    
  }
  
  nav a:hover {
    color: green; /* Change the color when hovering over the link */
  }
  
  /* Active effect when link is clicked */
  nav a:active {
    color: red; /* Change the color when the link is clicked */
  }
  
  p a {
    color: blue; /* Set the color of the link inside the paragraph */
    text-decoration: none; /* Optional: Remove underline from the link */
  }